{% extends 'cart/cart_add.html' %}
{% load integer_division %}

{% block min_value_label %}
    {{ amount_step }} г.
{% endblock min_value_label %}

{% block max_value %}
    max="{{ product.tea_amount|int_divide:amount_step }}" step="{{ amount_step }}"
{% endblock max_value %}

{% block oninput %}
oninput="updateTotal(this, {{ product.price }})"
{% endblock oninput %}

{% block max_value_label %}
    {{ product.tea_amount|int_divide:amount_step }} г.
{% endblock max_value_label %}

{% block total_display %}
    {{ amount_step }} г. за {{ product.price }}
{% endblock total_display %}

{% block total_update_script %}
    <script>
        function updateTotal(input, price) {
            totalDisplay = document.getElementById('total');
            totalDisplay.textContent = `${input.value} г. за ${input.value*price/input.step} ₽`;
        }
        updateTotal(document.getElementById('amount'), {{ product.price }});
    </script>
{% endblock total_update_script %}