{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block main %}
    <div class="container single-content text-center mt-5">
        <div class="row">
            <div class="col">
                <a href="{% url 'register' %}" class="btn {% block register_option %}{% endblock register_option %}" role="button">Регистрация</a>
            </div>
            <div class="col">
                <a href="{% url 'login' %}" class="btn {% block login_option %}{% endblock login_option %}" role="button">Вход</a>
            </div>
        </div>
    </div>
    <div class="container single-content mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button id="auth-submit" class="btn btn-primary" type="submit">{% block button_title %}{% endblock button_title %}</button>
            </div>
        </form>
    </div>
{% endblock main %}