{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block main %}
    <div class="container single-content mt-5">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link {% block login_tab %}{% endblock login_tab %}">Вход</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'register' %}" class="nav-link {% block register_tab %}{% endblock register_tab %}">Регистрация</a>
            </li>
        </ul>
    </div>

    <div class="container single-content mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button id="auth-submit" class="btn btn-primary" type="submit">{% block button_title %}{% endblock button_title %}</button>
            </div>
        </form>
    </div>
{% endblock main %}