<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'store/store.css' %}">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <button class="btn btn-primary me-2 d-md-none" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#productLinks" 
                    aria-expanded="true"
                    aria-controls="productLinks"
                    id="sidebarToggle">
            ~
            </button>
            <a href="" class="navbar-brand flex-grow-1">Teahouse</a>
            <form action="" role="search" class="d-flex flex-grow-1">
                <input type="search" class="form-control">
                <button type="submit" class="btn btn-outline-dark mx-2">Поиск</button>
            </form>
        </div>
    </nav>
    
    {% comment %} Основная часть {% endcomment %}
    <div class="container d-flex mt-3">
        
        {% comment %} Бокове меню {% endcomment %}
        <div class="accordion collapse collapse-horizontal show-md position-absolute-md" id="productLinks">
            <div class="accordion-item">
                <div class="accordion-header" id="teaLinks-header">
                    <button class="accordion-button p-2" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#teaLinks-menu" 
                            aria-expanded="true"
                            aria-controls="teaLinks-menu">
                    Чай
                    </button>
                </div>
                <div class="accordeon-collapse collapse show" id="teaLinks-menu" area-labelledby="teaLinks-header">
                    <div class="accordeon-body">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="/tea/Black/" class="nav-link">Красный</a></li>
                            <li class="nav-item"><a href="/tea/Dark/" class="nav-link">Чёрный</a></li>
                            <li class="nav-item"><a href="/tea/Green/" class="nav-link">Зелёный</a></li>
                            <li class="nav-item"><a href="/tea/Oolong/" class="nav-link">Улун</a></li>
                            <li class="nav-item"><a href="/tea/Puer/" class="nav-link">Пуэр</a></li>
                            <li class="nav-item"><a href="/tea/White/" class="nav-link">Белый</a></li>
                            <li class="nav-item"><a href="/tea/Yellow/" class="nav-link">Жёлтый</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header" id="utensilLinks-header">
                    <button class="accordion-button p-2" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#utensilLinks-menu" 
                            area-expanded="true"
                            area-controls="utensilLinks-menu">
                    Посуда и аксессуары
                    </button>
                </div>
                <div class="accordeon-collapse collapse show" id="utensilLinks-menu" area-labelledby="utensilLinks-header">
                    <div class="accordeon-body">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="" class="nav-link">Чаши и пиалы</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Чайники для кипячения</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Заварочные чайники</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Гайвани</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        {% comment %} Контент {% endcomment %}
        <div class="flex-grow-1 mx-2">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>