{% extends 'base.html' %}

{% block main %}
<div class="container mt-5">
    {% for article in articles %}
    <div class="card my-2">
        <div class="card-body d-flex">
            {% if article.thumbnail %}
                <img class="article-thumbnail me-3" src="{{ article.thumbnail.url }}" alt="обложка к статье">
            {% endif %}
            <div>
                <a href="{% url 'article_detail' article.id %}" class="card-title fs-5">{{ article.title }}</a>
                <p class="card-text my-2">{{ article.summary }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}