@media (max-width: 768px) {
    .position-absolute-md {
        position: absolute !important;
    }
}

@media (min-width: 768px) {
    .show-md {
        display: initial !important;
    }
}

#productLinks {
    min-width: max-content;
}

.product-image {
    max-width: 12em;
}

.product-image-sm {
    max-width: 6em;
}

@media (min-width:768px) {
    .single-content {
        max-width: 34em;
    }
}

@media (min-width:768px) {
    .single-content-lg {
        max-width: 50em !important;
    }
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.replies {
    position: relative;
    left: 1.5em;
}

.fs-7 {
    font-size: 0.8em;
}

.replies {
    width: 90%;
}

.replies .replies {
    width: 100%;
}

.btn-reply {
    visibility: hidden;
}

.card-body:hover > .btn-reply {
    visibility: visible;
}