{% load crispy_forms_tags %} 

<div class="card my-2 w-50">
    <div class="card-body">
        <span class="fw-bold">{{ node.user.username }}</span>
        <p class="card-text mt-1">{{ node.text }}</p>
        <em class="fs-7">
        {% if node.parent %}
        отвечено {{ node.parent.user.username }}:
        {% else %}
        опубликовано:
        {% endif %}
        {{ node.timestamp }}
        </em>
        {% if node.user.id != request.user.id and user.is_authenticated %}
            <button class="btn btn-sm float-end btn-reply">Ответить</button>
            <form action="{% url 'comments_create' product.id node.id %}" method="post" class="my-2 reply-form d-none">
                {% csrf_token %}
                <div class="row row-cols-auto align-items-center">
                    <div class="col">
                        {{ comment_form|crispy }}
                    </div>
                    <div class="col">
                        <button id="add-comment" type="submit" class="btn btn-primary">➤</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>