{% extends 'base.html' %}
{% load static %}

{% block navbar_left %}
<button class="btn btn-primary me-2 d-md-none" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#productLinks" 
        aria-expanded="true"
        aria-controls="productLinks"
        id="sidebarToggle">
~
</button>
{% endblock navbar_left %}

{% block main %}
<div class="container d-flex mt-3">
    {% comment %} Бокове меню {% endcomment %}
    {% include 'catalogue/sidebar.html' %}

    {% comment %} Контент {% endcomment %}
    <div class="flex-grow-1 mx-2">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock main %}