<nav class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1
                {% if query %}
                    &q={{ query }}
                {% endif %}"
                id="page-begin"
                class="page-link">В начало</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}
                {% if query %}
                    &q={{ query }}
                {% endif %}"
                id="page-prev"
                class="page-link">Назад</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link">стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a 
                href="?page={{ page_obj.next_page_number }} 
                {% if query %}
                    &q={{ query }}
                {% endif %}"
                id="page-next"
                class="page-link">Вперед</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}
                {% if query %}
                    &q={{ query }}
                {% endif %}"
                id="page-end"
                class="page-link">В конец</a></li>
        {% endif %}
    </ul>
</nav>