{% extends 'catalogue/home.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <h3>{% translate products_title %}</h3>
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2" id="products">
        {% for product in products %}
            <div class="col text-center">
                <div class="card p-2">
                    <img src="{{ product.image.url }}" 
                        alt="изображение товара"
                        class="card-image-top product-image mx-auto">
                    <div class="card-body">
                        <a href="{% url 'tea_detail' product.id %}" class="card-title">{{ product.name }}</a>
                        <br>
                        <span class="card-text">{{ product.price }} ₽</span>
                    </div>
                    <button 
                    class="btn btn-primary btn-sm fs-4 py-0 btnWishlist" 
                    value="{{ product.id }}"
                    type="submit">♡</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'wishlist.js' %}"></script>
    <script>
        getWishlist('{% url "wishlist_get" %}').then(res => {
            wishlist = res;
        }).then(_ => {
            updateWishlistButtons('.btnWishlist')
            
            const products = document.querySelector('#products');
            products.addEventListener('click', function(event) {
                if (event.target.tagName == 'BUTTON' && 
                event.target.classList.contains('btnWishlist')) {
                    event.preventDefault();
                    productId = event.target.value;
                    if (wishlist.includes(productId)) {
                        updateWishlist('{% url "wishlist_remove" %}', '{{ csrf_token }}', productId);
                        event.target.innerText = '♡';
                        wishlist = wishlist.filter(item => item !== productId);
                    } else {
                        updateWishlist('{% url "wishlist_add" %}', '{{ csrf_token }}', productId);
                        event.target.innerText = '♥';
                        wishlist.push(productId);
                    }
                }
            });
        });
    </script>
{% endblock content %}