{% extends 'catalogue/home.html' %}
{% load static %}

{% block content %}
    <div class="mx-2">
        <span class="fs-4">{{ tea.name }}</span>
        <div class="row row-cols-2">
            <div class="col col-auto">
                <img class="product-image d-block my-3" src="{{ tea.image.url }}" alt="изображение товара">
            </div>
            {% include 'cart/cart_add_tea.html' %}
        </div>
        <span class="fs-5">Описание</span>
        <p class="mt-2">{{ tea.description }}</p>
        <span class="fs-5">Комментарии</span>
        <br>
        {% include 'comments/add_comment.html' %}
        <hr>
        {% include 'comments/discussion.html' %}
    </div>
{% endblock content %}